{%extends 'base.html.twig'%}

   {% block body %}
   
      <h1>This comes from index.twig:</h1>
<div>
{# / here we are going to render the whole message array #}
  {{ message }}
</div>
   
   
   {% endblock %}
