


{%extends 'base.html.twig'%}

   {% block body %}

      <h1>This comes from show_one.twig:</h1>



<div>The current message is:</div>
<div>
  <b>{{ messages }}</b>
</div>



   
   
   {% endblock %}

{% block title %}show_one!{% endblock %}
