


{%extends 'base.html.twig'%}

   {% block body %}

      <h1>This comes from show_one.twig:</h1>



<div>The current message is:</div>
<div>
<div>{{message.message}}</div>
   {{ include('hello/_message.html.twig', {message: message}) }}
</div>



   
   
   {% endblock %}

{% block title %}show_one!{% endblock %}
